.v-center {
    height: 210mm;
}

/*
==================================
==================================
FONTS
==================================
==================================
*/

/*
==================================
==================================
PAGE GENERAL ADJUSTMENTS
==================================
==================================
*/

.📖-running-header {
    top: 2mm !important;
    right: 2mm !important;
    text-align: right !important;
}

div#content {
    columns: 2;
}

/*
==================================
==================================
AUTOMATIC DESIGNS
==================================
==================================
*/

h1 {
    font-size: 80pt;
}

h2 {
    top: -20mm;
    left: -20mm;
    width: 297mm;
    height: 210mm;
    padding: 2cm;
    text-align: center;
    
    font-size: 80pt;
}

/*
==================================
==================================
CUSTOM TOOLS
==================================
==================================
*/

.all-page {
    top: -20mm;
    left: -20mm;
    width: 297mm;
    height: 210mm;
    padding: 20mm;
}