.v-center {
    height: 237mm;
}

/*
==================================
==================================
FONTS
==================================
==================================
*/

/*
==================================
==================================
PAGE GENERAL ADJUSTMENTS
==================================
==================================
*/

.📖-running-header {
    top: 2cm !important;
}

/*
==================================
==================================
AUTOMATIC DESIGNS
==================================
==================================
*/

h1 {
    font-size: 80pt;
}

h2 {
    top: -30mm;
    left: -40mm;
    width: 210mm;
    height: 297mm;
    padding: 3cm;
    
    font-size: 80pt;
}

/*
==================================
==================================
CUSTOM TOOLS
==================================
==================================
*/

.all-page {
    top: -30mm;
    left: -20mm;
    width: 210mm;
    height: 297mm;
    padding: 3cm;
}